td{text-align: center}
/* 弹窗 (background) */
.popUpWindows{
    position: relative;
}
#myModal{
    position: absolute;
    width: 500px;
    left: 50%;
    height: 300px;
}

 
/* 弹窗内容 */
.modal-content {
    background-color: #888;
    width: 80%; 
    height: 80%
}
 
/* 关闭按钮 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}